<%= form_with(model: preposition, local: true) do |form| %>
  <% if preposition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preposition.errors.count, "error") %> prohibited this preposition from being saved:</h2>

      <ul>
      <% preposition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :p %>
    <%= form.text_field :p, id: :preposition_p %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
