
<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-3">Preposipsum</h1>
  <p class="lead">This Ipsum will return nothing but prepositions. I made it to go along with a presentation a created titled "The History and Use of Laurem Ipsum". The git repo for this project can be found here and my linkedin may be found here.
  <br /><br /> Thank you,
  <br /> Nico D'Amico-Barbour</p>
</div>









<!-- <table>
  <thead>
    <tr>
      <th>P</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prepositions.each do |preposition| %>
      <tr>
        <td><%= preposition.p %></td>
        <td><%= link_to 'Show', preposition %></td>
        <td><%= link_to 'Edit', edit_preposition_path(preposition) %></td>
        <td><%= link_to 'Destroy', preposition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>
